.add-range {
  height: 275px;
  width: 275px;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 3px dashed var(--color-text);
  border-radius: 2px;
  cursor: pointer;
}

.add-range .fa-plus-circle {
  color: var(--color-text);
}
