.content {
  padding: 50px 100px;
 
  /* for fixed header*/
  flex: 1 1 auto;
  position: relative;/* need this to position the inner content properly*/
  overflow-y: auto;
}

.content .store-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;/* for responsive design and to remove horizontal scroll bar when screen is small*/
}
.content .store-container .store-column {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;/* to have little spacing between them when screen is smaller  and the items are aligned in column */
}

/* Responsive layout - when the screen is less than 650px wide, this makes the two columns to stack upon  each other  */
@media screen and (max-width: 650px) {
.content .store-container{   
display: flex;
    flex-direction: column;
  }
}


.content .range-card-container {
  display: flex;
flex-wrap: wrap;

}

.content .range-card-container > * {
  margin-right: 5em;
}

.content .range-card-container > *:last-child {
  margin-right: 0;
}
