.header {
  display: flex;
  flex-direction: row;
  align-items: center;

  background: var(--color-bg);
  padding: 0 100px;

  box-shadow: 0 3px 3px var(--color-shadow);
}

.header h1 {
  flex-grow: 1;
}
